<div class="col-xl-12">	 
        <div class="card mb-3">
            <div class="card-header">
                    <h3>Alertas Actuales</h3>
            </div>
            <div class="card-body">
                <div class=row style="justify-content: center;"> 
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="card-box noradius noborder bg-danger" style="min-height: 160px; min-height: 205px;">
                                <!-- <i class="fa fa-bug float-right text-white"></i> -->
                                <h6 class="text-white text-uppercase m-b-20">Nº Computadores Infectados</h6>
                                <h1 id="cantClientesInfectados" class="m-b-20 text-white"></h1>
                                <span id="spanCantClientesInfectados" class="text-white"></span>
                        </div>
                </div>
            </div>
            <div class="card-body">                                            
                    <table id="tabClientesInfectados" class="table table-bordered table-hover display">
                        <thead>
                            <tr>
                            <th scope="col">Direccion IP</th>
                            <th scope="col">Variantes de malware encontradas</th>
                            <!-- <th scope="col">Fecha Eliminación</th>
                            <th scope="col">Hora Eliminación</th> -->
                            </tr>
                        </thead>
                      <tbody>
                      </tbody>
                    </table>
            </div>	
        </div>
        </div>
    </div>