<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- top bar navigation -->
		<% include title.ejs %>
		<!-- End Navigation -->

		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Font Awesome CSS -->
		<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
		
		<!-- BEGIN CSS for this page -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
		<!-- END CSS for this page -->
		
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>


<body class="adminbody">

<div id="main">

   <!-- top bar navigation -->
   <% include navbar.ejs %>
   <!-- End Navigation -->
   

   <!-- Left Sidebar -->
   <% include menu %>
   <!-- End Sidebar -->

    <div class="content-page">
	
		<!-- Start content -->
        <div class="content">
            
			<div class="container-fluid">
					
						<div class="row">
									<div class="col-xl-12">
											<div class="breadcrumb-holder">
													<h1 class="main-title float-left">Reporte Global</h1>
													<ol class="breadcrumb float-right">
														<li class="breadcrumb-item">Home</li>
														<li class="breadcrumb-item active">Reporte Global</li>
													</ol>
													<div class="clearfix"></div>
											</div>
									</div>
						</div>
						<!-- end row -->

							<div class="row" style="justify-content: center;">
									<!-- <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-default">
													<i class="fa fa-desktop float-right text-white"></i> 
													<h6 class="text-white text-uppercase m-b-20">Clientes Conectados</h6>
													<h1 class="m-b-20 text-white counter">90</h1>
													<span class="text-white">15 New Orders</span> 
											</div>
									</div> -->

									<!-- <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-warning">
													<i class="fa fa-bar-chart float-right text-white"></i>
													<h6 class="text-white text-uppercase m-b-20">Visitors</h6>
													<h1 class="m-b-20 text-white counter">250</h1>
													<span class="text-white">Bounce rate: 25%</span>
											</div>
                                    </div> -->
                            <div class="col-xl-12">	 
                                <div class="card mb-3">
                                    <div class="card-header">
                                            <h3>Alertas Generales</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class=row style="justify-content: center;"> 
                                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                                                <div class="card-box noradius noborder bg-danger" style="min-height: 160px; min-height: 205px;">
                                                        <!-- <i class="fa fa-bug float-right text-white"></i> -->
                                                        <h6 class="text-white text-uppercase m-b-20">Nº Computadores Infectados</h6>
                                                        <h1 id="cantClientesInfectados" class="m-b-20 text-white"></h1>
                                                        <span id="spanCantClientesInfectados" class="text-white"></span>
                                                </div>
                                        </div>

                                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-danger" style="min-height: 160px; min-height: 205px;"> <!-- min-width: 250px;-->
													<!-- <i class="fa fa-exclamation-triangle float-right text-white"></i> -->
													<h6 class="text-white text-uppercase m-b-20">Nº Variantes de malware</h6>
													<h1 id="cantTipoMalware" class="m-b-20 text-white"></h1>
													<span id="spanTipoMalware" class="text-white"></span>
											</div>
                                    </div>

                                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-danger" style="min-height: 160px; min-height: 205px;">
													<!-- <i class="fa fa-bug float-right text-white"></i> -->
													<h6 class="text-white text-uppercase m-b-20">Tipo de Malware más frecuente</h6>
													<h1 id="malwareMasFrecuente" class="m-b-20 text-white"></h1>
													<span id="spanMalwareMasFrecuente" class="text-white"></span>
											</div>
                                    </div>
                                </div>
                                </div>
                                </div>
                            </div>
                                    
                                    <div class="col-xl-12">						
                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    <h3>Equipos Infectados</h3>
                                                </div>                                                      
                                                <div class="card-body">
                                                    
                                                    <table id="tabClientesInfectados" class="table table-bordered table-hover display">
                                                        <thead>
                                                            <tr>
                                                            <th scope="col">Direccion IP</th>
                                                            <th scope="col">Variantes de malware encontradas</th>
                                                            <!-- <th scope="col">Fecha Eliminación</th>
                                                            <th scope="col">Hora Eliminación</th> -->
                                                            </tr>
                                                        </thead>
                                                      <tbody>
                                                      </tbody>
                                                    </table>
                    
                                                </div>							
                                            </div><!-- end card-->					
                                        </div>

							</div>
							<!-- end row -->

                            <div id="container1" style="min-width: 600px; height: 400px; margin: 0 auto; border-style: solid; margin-bottom: 20px;"></div>
                            <div id="container2" style="min-width: 600px; max-width: 100%; height: 400px; margin: 0 auto; border-style: solid;"></div>

                        </div>

						

            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->
    
	<!-- Footer -->
	<% include footer %>
	<!-- End Footer -->

</div>
<!-- END main -->

<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/moment.min.js"></script>
		
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>

<!-- App js -->
<script src="assets/js/pikeadmin.js"></script>

<!-- BEGIN Java Script for this page -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<!-- Counter-Up-->
	<script src="assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="assets/plugins/counterup/jquery.counterup.min.js"></script>			
    <% var test = 101; %>

	<script>
		$(document).ready(function() {
			// data-tables
			$('#example1').DataTable();
					
			// counter-up
			$('.counter').counterUp({
				delay: 10,
				time: 600
            });
            
            var datosgraficos = '';
            
            $.ajax({ 
                type: 'get',
                url: "/graficos",
                context: document.body,
                success: function(data){
                    console.log("Clientes infectados = " + data.clientesInfectados);
                    console.log('Malware más frecuente: ' + data.malwareMasFrecuente[0].clasificacion);
                    console.log('Cantidad de clientes infectados: ' + data.cantClientesInfectados);
                    console.log('Cantidad de clientes totales: ' + data.cantClientes);
                    console.log('Cantidad de tipos de malware: ' + data.cantTipoMalware);

                    var rows = data.tipoMalwarePorCliente;
                    var str = '';
                    for (i=0 ; i < rows.length ; i++){
                        var row = rows[i];
                            str +=  "<tr><td>" + row.direccionIP+ "</td><td>" + row.clasificacion+ "</td></tr>";
                    };
                    $('#tabClientesInfectados tbody').html(str);

                    $("#cantClientesInfectados").html(data.cantClientesInfectados);

                    $("#malwareMasFrecuente").html(data.malwareMasFrecuente[0].clasificacion);
                    $("#spanMalwareMasFrecuente").html('El malware más frecuente de la red es "' + data.malwareMasFrecuente[0].clasificacion + '" con un total de ' + data.malwareMasFrecuente[0].maximo + ' apariciones.');//de un total de ' + + 'conectados')


                    $("#spanCantClientesInfectados").html('Se han encontrado ' + data.cantClientesInfectados + ' computadores infectados en la red.');//de un total de ' + + 'conectados')
                    // $("#cantClientes").html(data.cantClientesInfectados + data.cantClientes);
                    $("#cantTipoMalware").html(data.cantTipoMalware);


                    $("#spanTipoMalware").html('Se ha(n) encontrado ' + data.cantTipoMalware + ' variante(s) de malware en la red.');
                    //Se han encontrado 58 archivos maliciosos en total en toda la red

                    

            }});
        });

	</script>
	
    <script>

// Create the chart
Highcharts.chart('container1', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'Porcentaje de computadores infectados'
    },
    // subtitle: {
    //     text: 'Click the slices to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
    // },
    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [
        {
            name: "Browsers",
            colorByPoint: true,
            data: [
                {
                    name: "Chrome",
                    y: 62.74,
                    drilldown: "Chrome"
                },
                {
                    name: "Firefox",
                    y: 10.57,
                    drilldown: "Firefox"
                },
                {
                    name: "Internet Explorer",
                    y: 7.23,
                    drilldown: "Internet Explorer"
                },
                {
                    name: "Safari",
                    y: 5.58,
                    drilldown: "Safari"
                },
                {
                    name: "Edge",
                    y: 4.02,
                    drilldown: "Edge"
                },
                {
                    name: "Opera",
                    y: 1.92,
                    drilldown: "Opera"
                },
                {
                    name: "Other",
                    y: 7.62,
                    drilldown: null
                }
            ]
        }
    ]
});


// Create the chart
Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Distribución de tipos de malware en la red'
    },
    // subtitle: {
    //     text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
    // },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Porcentaje total'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> del total<br/>'
    },

    series: [
        {
            name: "Malware",
            colorByPoint: true,
            data: [
                {
                    name: "Chrome",
                    y: 62.74,
                    drilldown: "Chrome"
                },
                {
                    name: "Firefox",
                    y: 10.57,
                    drilldown: "Firefox"
                },
                {
                    name: "Internet Explorer",
                    y: 7.23,
                    drilldown: "Internet Explorer"
                },
                {
                    name: "Safari",
                    y: 5.58,
                    drilldown: "Safari"
                },
                {
                    name: "Edge",
                    y: 4.02,
                    drilldown: "Edge"
                },
                {
                    name: "Opera",
                    y: 1.92,
                    drilldown: "Opera"
                },
                {
                    name: "Other",
                    y: 7.62,
                    drilldown: null
                }
            ]
        }
    ],
});



</script>
<!-- END Java Script for this page -->

</body>
</html>