<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
			<!-- top bar navigation -->
			<% include title.ejs %>
			<!-- End Navigation -->

		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

		<!-- Switchery css -->
		<link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
		
		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Font Awesome CSS -->
		<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />

		<!-- Modernizr -->
		<script src="assets/js/modernizr.min.js"></script>

		<!-- jQuery -->
		<script src="assets/js/jquery.min.js"></script>

		<!-- Moment -->
		<script src="assets/js/moment.min.js"></script>
		
		<!-- BEGIN CSS for this page -->
		<link href="assets/plugins/jquery.filer/css/jquery.filer.css" rel="stylesheet" />
		<link href="assets/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
		<!-- END CSS for this page -->
				
</head>

<body class="adminbody">

<div id="main">

		<!-- top bar navigation -->
		<% include navbar.ejs %>
		<!-- End Navigation -->
	
 
	<!-- Left Sidebar -->
	<% include menu %>
	<!-- End Sidebar -->


    <div class="content-page">
	
		<!-- Start content -->
        <div class="content">
            
			<div class="container-fluid">

					
			<div class="row">
					<div class="col-xl-12">
							<div class="breadcrumb-holder">
                                    <h1 class="main-title float-left">Importar reglas</h1>
                                    <ol class="breadcrumb float-right">
										<li class="breadcrumb-item">Home</li>
										<li class="breadcrumb-item active">Importar reglas</li>
                                    </ol>
                                    <div class="clearfix"></div>
                            </div>
					</div>
			</div>
            <!-- end row -->


			
			<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">						
						<div class="card mb-3">
							<div class="card-header">
                                <h3><i class="fa fa-file"></i> Subir regla de YARA</h3>
                                    El archivo debe tener extensión ".yar"
								 <!-- Maximum 3 files, all files together must have maximal 3MB and the extensions must be matched in the array ['jpg', 'png', 'gif']. -->
							</div>
								
							<div class="card-body">
                                <!-- name="files[]" -->
                                <form id="formSubirRegla" name="upload-form" action="/upload" method="post">
									<input type="file" name="archivo" id="archivo">
									<!-- <input class="" type="submit" name="botonsubir" value="Subir"/> -->
                                    <button type="submit">Subir</button>
                                </form>								
							</div>														
						</div><!-- end card-->					
                    </div>

                    <!-- <button id="button1" type="button" class="btn btn-primary">Enviar regla</button> -->		
			</div>
            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->

	<!-- Footer -->
	<% include footer %>
	<!-- End Footer -->

</div>
<!-- END main -->

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>

<!-- App js -->
<script src="assets/js/pikeadmin.js"></script>

<!-- BEGIN Java Script for this page -->
<script src="assets/plugins/jquery.filer/js/jquery.filer.min.js"></script>
<script>


// $('#button1').on('click', function() {
//     $.ajax({
//       type: 'POST',
//       url: '/send',
//       //data: JSON.stringify({ saludo: 'hola hola hola' }),
//       data: {direccionIP:'192.168.100.2', saludo:'Exploit-Kits_index.yar'},
//       success: function(resultData) {
//          alert(resultData);
//       }
//     });
// });

	$(document).on('submit', '#formSubirRegla', function(e){

		var form = $(this);
		var type = form.attr('method');
		var url = form.attr('action');

		var file = document.getElementById("archivo");
		console.log(file);
		var formData = new FormData(this);    
		formData.append("archivo", file);

		// console.log(formData);

		$.ajax({
			type: form.attr('method'),
			url: form.attr('action'),
			data: formData,
			contentType: false,
			processData: false,
			success: function(data){
				console.log(data);
				alert(data);
				// if (typeof(data) == 'Object')
				// {
				//     alert('Orden recibida por: ' + data.escaneadoConExito + 'equipos \n' + '\nNo se pudo establecer conexión con los siguientes equipos:\n' + data.escaneadoConError)

				// } else {
				//     alert(data);
				// }        
				// console.log(data);
				//res.send({escaneadoConExito, escaneadoConError});
				//alert('Orden recibida por: ' + data.escaneadosConExito + 'equipos \n' + '\nNo se pudo establecer conexión con los siguientes equipos:\n' + data.escaneadosConError)
				//alert('Archivos eliminados con éxito:\n\n' + data.data.eliminadosExito + '\n\nLos siguientes archivos no han podido ser eliminados:\n\n' + data.noEliminados);
			}   
		});
		return false;
	});

</script>
<!-- END Java Script for this page -->

</body>
</html>