<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>ITSEC - Analizador de Malware</title>
		<!-- <meta name="description" content="Free Bootstrap 4 Admin Theme | Pike Admin"> -->
		<!-- <meta name="Cristian Herrera A." content="Pike Web Development - https://www.pikephp.com"> -->

		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

		<!-- Switchery css -->
		<link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
		
		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Font Awesome CSS -->
		<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />

		<!-- Modernizr -->
		<script src="assets/js/modernizr.min.js"></script>

		<!-- jQuery -->
		<script src="assets/js/jquery.min.js"></script>

		<!-- Moment -->
		<script src="assets/js/moment.min.js"></script>
		
		<!-- BEGIN CSS for this page -->
		<link href="assets/plugins/jquery.filer/css/jquery.filer.css" rel="stylesheet" />
		<link href="assets/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
		<!-- END CSS for this page -->
				
</head>

<body class="adminbody">

<div id="main">

    <!-- top bar navigation -->
    <% include navbarsup.ejs %>
	<!-- End Navigation -->
	
 
	<!-- Left Sidebar -->
	<% include menu %>
	<!-- End Sidebar -->


    <div class="content-page">
	
		<!-- Start content -->
        <div class="content">
            
			<div class="container-fluid">

					
			<div class="row">
					<div class="col-xl-12">
							<div class="breadcrumb-holder">
                                    <h1 class="main-title float-left">Importar reglas</h1>
                                    <ol class="breadcrumb float-right">
										<li class="breadcrumb-item">Home</li>
										<li class="breadcrumb-item active">Importar reglas</li>
                                    </ol>
                                    <div class="clearfix"></div>
                            </div>
					</div>
			</div>
            <!-- end row -->


			
			<div class="row">
					
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">						
						<div class="card mb-3">
							<div class="card-header">
                                <h3><i class="fa fa-file"></i> Subir regla de YARA</h3>
                                    El archivo debe tener extensión ".yar"
								 <!-- Maximum 3 files, all files together must have maximal 3MB and the extensions must be matched in the array ['jpg', 'png', 'gif']. -->
							</div>
								
							<div class="card-body">
                                <!-- name="files[]" -->
                                <form name="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                                    <input type="file" name="archivo" id="attachment">
                                    <button type="submit">Subir</button>
                                </form>								
							</div>														
						</div><!-- end card-->					
                    </div>

                    <!-- <button id="button1" type="button" class="btn btn-primary">Enviar regla</button> -->		
			</div>
            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->

	<!-- Footer -->
	<% include footer %>
	<!-- End Footer -->

</div>
<!-- END main -->

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>

<!-- App js -->
<script src="assets/js/pikeadmin.js"></script>

<!-- BEGIN Java Script for this page -->
<script src="assets/plugins/jquery.filer/js/jquery.filer.min.js"></script>
<script>


$('#button1').on('click', function() {
    $.ajax({
      type: 'POST',
      url: '/send',
      //data: JSON.stringify({ saludo: 'hola hola hola' }),
      data: {direccionIP:'192.168.100.2', saludo:'Exploit-Kits_index.yar'},
      success: function(resultData) {
         alert(resultData);
      }
    });
});

// $(document).ready(function(){

// 	'use-strict';

//     $('').filer({
//         //limit: 3,
//         //maxSize: 3,
//         extensions: ['yar'],
//         //extensions: ['jpg', 'jpeg', 'png', 'gif', 'psd'],
//         changeInput: true,
//         showThumbs: true,
//         addMore: true,
//         captions: {
//             button: "Subir",
//             feedback: "Elegir archivos", //"Choose files To Upload",
//             feedback2: "archivo\(s\) subido\(s\).",
//             drop: "Drop file here to Upload",
//             removeConfirmation: "Estás seguro que deseas borrar este archivo?", //Are you sure you want to remove this file?",
//             errors: {
//                 filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
//                 filesType: "Solo archivos con extensión \"yar\" son permitidos.",
//                 filesSize: "{{fi-name}} is too large! Please upload file up to {{fi-maxSize}} MB.",
//                 filesSizeAll: "Files you've choosed are too large! Please upload files up to {{fi-maxSize}} MB."
//             }
//         },
//         uploadFile: {
//             url: "/upload",//"assets/plugins/jquery.filer/php/upload.php",
//             data: null,
//             type: 'POST',
//             enctype: 'multipart/form-data',
//             beforeSend: function(){},
//             success: function(data, el){
//                 var parent = el.find(".jFiler-jProgressBar").parent();
//                 el.find(".jFiler-jProgressBar").fadeOut("slow", function(){
//                     $("<div class=\"jFiler-item-others text-success\"><i class=\"fa fa-plus\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow");
//                 });
//             },
//             error: function(el){
//                 var parent = el.find(".jFiler-jProgressBar").parent();
//                 el.find(".jFiler-jProgressBar").fadeOut("slow", function(){
//                     $("<div class=\"jFiler-item-others text-error\"><i class=\"fa fa-minus\"></i> Error</div>").hide().appendTo(parent).fadeIn("slow");
//                 });
//             },
//             statusCode: null,
//             onProgress: null,
//             onComplete: null
//         },
//     });
// });
</script>
<!-- END Java Script for this page -->

</body>
</html>