<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- top bar navigation -->
		<% include title.ejs %>
		<!-- End Navigation -->

		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Font Awesome CSS -->
		<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />		
		
		<!-- BEGIN CSS for this page -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>	
		<style>	
            td.details-control {
            background: url('assets/plugins/datatables/img/details_open.png') no-repeat center center;
            cursor: pointer;
            }
            tr.shown td.details-control {
            background: url('assets/plugins/datatables/img/details_close.png') no-repeat center center;
            }
		</style>		
		<!-- END CSS for this page -->
				
</head>

<body class="adminbody">
		
<div id="main">

    <!-- top bar navigation -->
    <% include navbar.ejs %>
	<!-- End Navigation -->
	
 
	<!-- Left Sidebar -->
	<% include menu %>
	<!-- End Sidebar -->


    <div class="content-page">
	
		<!-- Start content -->
        <div class="content">
            
			<div class="container-fluid">

							
				<div class="row">
						<div class="col-xl-12">
								<div class="breadcrumb-holder">
										<h1 class="main-title float-left">Recolectar resultados</h1>
										<ol class="breadcrumb float-right">
											<li class="breadcrumb-item">Home</li>
											<li class="breadcrumb-item active">Recolectar resultados</li>
										</ol>
										<div class="clearfix"></div>
								</div>
						</div>
				</div>

				
				<div class="row">
				
						<div class="col-xl-12">	
                            <form id="formEliminarArchivos" method="POST" action="eliminar-archivos">					
							<div class="card mb-3">
									
								<div class="card-body">
									<div class="table-responsive">

											<table id="example1" class="table table-bordered table-hover display">
													<thead>
															<tr>
                                                                <th>Dirección IP</th>
                                                                <th>Tipo de Malware</th>
                                                                <th>Ruta</th>
                                                                <th>Eliminar</th>
                                                                <!-- <th>Dirección IP</th> -->
															</tr>
													</thead>		
															<% for (var i = 0; i < results.length; i++) { %>
															 <tr>
                                                               <td class="tdvalue"><%= results[i].direccionIP %></td>
                                                               <td class="tdvalue"><%= results[i].clasificacion %></td>
                                                               <td class="tdvalue"><%= results[i].nombre %></td>
                                                               <td style='text-align: center;'><input class='tdruta' type='checkbox' value='<%= results[i].nombre %>' style='transform: scale(2);'></td>
															 </tr>    
															<% } %>
														 
                                            </table>
                                            <button class="btn btn-googleplus">Eliminar archivos seleccionados</button>
                                            <input type="checkbox" id="select_all" style="transform: scale(2); margin-left: 20px; margin-right: 5px"> SELECCIONAR TODOS</input>
									</div>
									
								</div>														
                            </div><!-- end card-->
                        </form>					
						</div>
                        
                </div>
                    <!-- <div class="row"> 
                        <div class="col-xl-12">	
                            <form id="formEliminarArchivos" method="POST" action="eliminar-archivos">						
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h3>Archivos maliciosos</h3>
                                        <h3 id="dirIP"></h3>
                                    </div>
                                        
                                    <div class="card-body">
                                        
                                        <table id="recoleccion" class="table table-bordered table-hover display">
                                            <thead>
                                                    <tr>
                                                    <th scope="col">Clasificación</th>
                                                    <th scope="col">Ruta</th>
                                                    <th scope="col">Seleccionar</th>
                                                    </tr>
                                                </thead>
                                    
                                            <tbody>

                            
                                            </tbody>
                                        </table>
                                           
                                    </div>							
                                </div> end card 
                            </form>
                        </div >-->

                </div>

            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->
    
	<!-- Footer -->
	<% include footer %>
	<!-- End Footer -->

</div>
<!-- END main -->

<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/moment.min.js"></script>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/pikeadmin.js"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script>

    $(document).ready(function() {
        $('#example1').DataTable({
            "pageLength": 100
        });
    });

    $(document).ready(function() {
        $('#recoleccion').DataTable();
    });

    var direccionIP = $('')


</script>


    
    <script>
    
    // $(document).ready(function () {
    //     var my_div = $("#holder");
    //     $("#HButton").on("click", function () {
    //         $.ajax({
    //         url: "/api/books2"
    //     })
    //         .done(function( data ) {
    //         console.log( "Sample of data:", data );
    //         $('#holder').html(data.message);
    //         });
    //     });
    // });

    // Generar tabla de archivos maliciosos

    $(document).ready(function(){
        $(".tdvalue").on('click',function(){
            var filaActual = $(this).closest("tr");
            var direccionIP = filaActual.find("td:eq(0)").text();

                $.get('/obtener-resultados-IP', {direccionIP: direccionIP}, function(data,fields) {
                    console.log("data = " + data);
                    var rows = data;
                    var str = '';
                    for (i=0 ; i < rows.length ; i++){
                        var row = rows[i];
                            str +=  "<tr><td>" + row.clasificacion+ "</td>" + "<td>" + row.nombre+ "</td>" + "<td style='text-align: center;'><input class='tdruta' type='checkbox' value='" + row.nombre + "' style='transform: scale(2);'></td></tr>";
                };

                $('#dirIP').html(direccionIP);
                $('#recoleccion tbody').html(str);

                });
                    
            });
    });


    $('#select_all').change(function() {
        var checkboxes = $(this).closest('form').find(':checkbox');
        checkboxes.prop('checked', $(this).is(':checked'));
    });
    
    //var checkboxes = $(this).closest('form').find(':checkbox').not($(this));

    $(document).on('click', function(){



    })


    $(document).on('submit', '#formEliminarArchivos', function(){

        //var direccionIP = $('#dirIP').text();

        //var cboxes = new Array();

        var datos = {}
        //var cboxes = new Array();

        $("input:checked").each(function() {
            var filaActual = $(this).closest("tr");
            var direccionIP = filaActual.find("td:eq(0)").text();
            if (!datos[direccionIP]) {
                datos[direccionIP] = [];
            }
            datos[direccionIP].push($(this).val());
            //console.log(datos);
            //console.log(direccionIP);
            //var direccionIP = $(this).find()
            //cboxes.push($(this).val());
            //aqui ira el objeto
     });

    // alert(datos)
    
     //console.log(datos);
       // console.log(cboxes);

        $.ajax({
            type: "POST",
            url: "/eliminar-archivos",
            data: {datos},
            success: function(data){
                //alert(data);
                console.log(data)
                alert('Orden recibida por los siguientes clientes:\n\n' + data.usuariosConectadosAct + '\n\nLos siguientes equipos no se encuentran conectados:\n\n' + data.usuariosNoConectados);
                //alert('Archivos eliminados con éxito:\n\n' + data.data.eliminadosExito + '\n\nLos siguientes archivos no han podido ser eliminados:\n\n' + data.noEliminados);
            }
        });
        return false;
        });


    </script>


</body>
</html>